.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.filepond {
    width: 100%;
}

.content {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 550px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
}